@model Web.ViewModels.Invoice.InvoiceFormVM
@{
    ViewBag.Title = "Новый документ";
}
@section Styles{
    <environment names="Development">
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    </environment>
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Новый документ</li>
    </ol>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-pencil"></i>
            </h3>
        </div>
        <div class="panel-body">
            <form asp-controller="Invoice" asp-action="Create" method="post" role="form" class="form-horizontal">
                <input asp-for="DocumentId" type="hidden" />
                <fieldset>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Number" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="Number" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                            </div>
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="Account" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="KindId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="KindId" asp-items="@Model.KindList" class="form-control"></select>
                            <span asp-validation-for="KindId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProviderId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="ProviderId" asp-items="@Model.ProviderList" class="form-control"></select>
                            <span asp-validation-for="ProviderId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="MonthId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="MonthId" asp-items="@Model.MonthList" class="form-control"></select>
                            <span asp-validation-for="MonthId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="Year" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                            </div>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="Sum" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="Sum" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            </div>
                            <span asp-validation-for="Sum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentSum" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="PaymentSum" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            </div>
                            <span asp-validation-for="PaymentSum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentDate" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="PaymentDate" class="form-control hasDatepicker" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            <span asp-validation-for="PaymentDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Debt" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="Debt" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            </div>
                            <span asp-validation-for="Debt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Penalty" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group input-sshort">
                                <input asp-for="Penalty" class="form-control" />
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            </div>
                            <span asp-validation-for="Penalty" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="Note" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <textarea asp-for="Note" class="form-control noresize" rows="4"></textarea>
                                <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                            </div>
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Создать</button>
                        <button type="button" class="btn btn-danger" onclick="history.go(-1);"><i class="fa fa-trash"></i> Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        Html.RenderPartial("_ValidationScripts");
    }
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.hasDatepicker').datepicker({
                language: "ru",
                todayHighlight: true,
                todayBtn: "linked"
            });
        });
    </script>
}