@model Web.ViewModels.Invoice.InvoiceFormVM
@{
    ViewBag.Title = "Новый документ";
}
@section Styles{
    <environment names="Development">
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    </environment>
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Новый документ</li>
    </ol>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-file"></i>
            </h3>
        </div>
        <div class="panel-body">
            <form asp-controller="Invoice" asp-action="Create" method="post" role="form" class="form-horizontal">
                @Html.Partial("_InvoiceFields", Model);
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Создать</button>
                        <button type="button" class="btn btn-default" onclick="history.go(-1);"><i class="fa fa-close"></i> Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        Html.RenderPartial("_ValidationScripts");
    }
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.hasDatepicker').datepicker({
                language: "ru",
                todayHighlight: true,
                todayBtn: "linked"
            });
        });
    </script>
}