@model Web.ViewModels.Invoice.InvoiceFormVM
@{
    ViewBag.Title = "Новый документ";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active">Новый документ</li>
    </ol>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-pencil"></i>
            </h3>
        </div>
        <div class="panel-body">
            <form asp-controller="Invoice" asp-action="Create" method="post" role="form" class="form-horizontal">
                <fieldset>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Number" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Number" class="form-control input-sshort" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Account" class="form-control input-sshort" />
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="KindId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="KindId" asp-items="@Model.KindList" class="form-control"></select>
                            <span asp-validation-for="KindId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProviderId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="ProviderId" asp-items="@Model.ProviderList" class="form-control"></select>
                            <span asp-validation-for="ProviderId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="MonthId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="MonthId" asp-items="@Model.MonthList" class="form-control"></select>
                            <span asp-validation-for="MonthId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Year" class="form-control input-sshort" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label asp-for="Sum" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Sum" class="form-control input-sshort" />
                            <span asp-validation-for="Sum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentSum" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="PaymentSum" class="form-control input-sshort" />
                            <span asp-validation-for="PaymentSum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentDate" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="PaymentDate" class="form-control input-sshort" />
                            <span asp-validation-for="PaymentDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Debt" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Debt" class="form-control input-sshort" />
                            <span asp-validation-for="Debt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Penalty" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Penalty" class="form-control input-sshort" />
                            <span asp-validation-for="Penalty" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Создать</button>
                        <button type="button" class="btn btn-danger" onclick="history.go(-1);"><i class="fa fa-trash"></i> Отмена</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        Html.RenderPartial("_ValidationScripts");
    }

}