body {
    font-size:13px;
}

.table .btn{
    box-shadow: none;
    border-radius: 0;
}
textarea.noresize {
    resize: vertical;
}

/*Input size
------------------------------------*/
.input-sshort {
    max-width: 30%;
}
.input-xshort {
    max-width: 10%;
}

/*Text Colors
------------------------------------*/
.color-red {
    color: #e74c3c;
}
.color-blue {
    color: #3498db;
}

/*Background Colors
------------------------------------*/
.bg-color-blue {
    background-color: #3498db;
}

/*Panels
------------------------------------*/
.panel-heading {
	color: #fff;
	padding: 5px 15px;
}

.panel .table {
    margin-bottom: 0;
}
.panel-light-green {
	border-color: #72c02c;
}

.panel-light-green > .panel-heading {
	background: #72c02c;
}

.panel-blue {
	border-color: #3498db;
}

.panel-blue > .panel-heading {
	background: #3498db;
}

/*Dividers
------------------------------------*/
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color:#fff;
    background-color:#fff;
    height: 1px;
    margin: 20px 0;
}

/*Labels
------------------------------------*/
span.label {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 7px;
}

/*Tables
------------------------------------*/
.table thead > tr > th {
    border-bottom: none;
}
.search-table {
}
.search-table th {
    font-size: 13px;
}
.search-table td {
    vertical-align: middle !important;
}
.search-table .td-buttons {
    width: 9%;
}
.search-table td span {
    display: block;
}
.search-table td h4 {
    font-size: 16px;
    margin: 0 0 2px 0;
}
.search-table td small {
    color: #999;
    font-style: italic;
}

/*Buttons
------------------------------------*/
.btn-no-bg {
    background: none;
    color: #555;
}
.btn-blue {
    font-size: 14px;
    border-color: #3498db;
}

.btn-blue:hover{
    color: #3498db;
    border-color: #3498db;
}
.btn-red {
    font-size: 14px;
    border-color: #e74c3c;
}

.btn-red:hover{
    color: #e74c3c;
    border-color: #e74c3c;
}

.btn-green {
    font-size: 14px;
    border-color: #72c02c;
}

.btn-green:hover{
    color: #72c02c;
    border-color: #72c02c;
}
.btn-yellow {
    font-size: 14px;
    border-color: #f39c12;
}

.btn-yellow:hover{
    color: #f39c12;
    border-color: #f39c12;
}

/*Detail block
------------------------------------*/
.detail .panel-body {
    padding: 15px 15px 5px 15px;
}
.detail dl {
    font-size: 14px;
    margin-bottom: 0;
}

.detail dl dd {
    padding-bottom: 10px;
}
.detail dl i {
    font-size:18px;
    color: #3498db;
    margin-right: 5px;
}
.detail dl ul {
    margin-bottom: 0;
}

.detail dl ul li {
    border-left: solid 1px #eee;
}

.detail dl ul li:first-child {
    border-left: none !important;
}

/*.detail h2 {
    margin: 5px 0 5px 0;
    font-size: 21px;
}
.detail .header span {
    margin-right: 5px;
}
.detail .header span i {
    font-size:18px;
    color: #72c02c;
    margin-right: 5px;
}
.detail hr {
    margin: 10px 0 10px 0;
}
.detail .finance {
    display: block;
    padding: 5px 0;
    margin: 5px 0 10px 0;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.detail .finance ul {
    margin-bottom: 0;
}
.detail .finance ul li {
    border-left: solid 1px #eee;
}

.detail .finance ul li:first-child {
    border-left: none !important;
}
.detail .detail-hide {
    margin: 5px 0;
}
.detail .dates {
    display: block;
    border-top: solid 1px #eee;
    padding: 5px 0;
    font-size: 12px;
}
.detail .dates ul {
    margin-bottom: 0;
}
.detail .dates li i {
    color:#777;
}*/