body {
    font-size:13px;
}

.table .btn{
    box-shadow: none;
    border-radius: 0;
}
textarea.noresize {
    resize: vertical;
}

/*Input size
------------------------------------*/
.input-sshort {
    max-width: 30%;
}
.input-xshort {
    max-width: 10%;
}

/*Text Colors
------------------------------------*/
.color-red {
    color: #e74c3c;
}
.color-blue {
    color: #3498db;
}

/*Background Colors
------------------------------------*/
.bg-color-blue {
    background-color: #3498db;
}

/*Panels
------------------------------------*/
.panel-heading {
	color: #fff;
	padding: 5px 15px;
}

.panel .table {
    margin-bottom: 0;
}
.panel-light-green {
	border-color: #72c02c;
}

.panel-light-green > .panel-heading {
	background: #72c02c;
}

.panel-blue {
	border-color: #3498db;
}

.panel-blue > .panel-heading {
	background: #3498db;
}

/*Dividers
------------------------------------*/
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color:#fff;
    background-color:#fff;
    height: 1px;
    margin: 20px 0;
}

/*Labels
------------------------------------*/
span.label {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 7px;
}

/*Tables
------------------------------------*/
.table thead > tr > th {
    border-bottom: none;
}
.search-table {
}
.search-table th {
    font-size: 13px;
}
.search-table td {
    vertical-align: middle !important;
}
.search-table .td-buttons {
    width: 9%;
}
.search-table td span {
    display: block;
}
.search-table td h4 {
    font-size: 16px;
    margin: 0 0 2px 0;
}
.search-table td small {
    color: #999;
    font-style: italic;
}

/*Buttons
------------------------------------*/
.btn-noborder {
    background: none;
    color: #555;
}
.btn-blue {
    font-size: 14px;
    border-color: #3498db;
}

.btn-blue:hover{
    color: #3498db;
    border-color: #3498db;
}

/*Detail block
------------------------------------*/
.detail h2 {
    margin: 5px 0 5px 0;
    font-size: 21px;
}
.detail span .map-marker {
    font-size:18px;
    color: #72c02c;
    margin-right: 5px;

}
.detail hr {
    margin: 10px 0 10px 0;
}